body {
	background-color: #F5DEB3;
	text-align: center;
}

h2 {
	font-size: 140px;
	margin: 50px 10px 10px 50px;
}

h3 {
	font-size: 50px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

p {
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline;
}

input[type=checkbox] {
	margin: 20px 10px 10px 10px;
}